.open-sans-newfont {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body {
    background-color: rgb(235, 240, 248);
}

/* Banner section */
.banner-foccus-section {
    background-image: url(../images/Hero-bg.png);
    height: 698px;
    padding-top: 30px;
    margin-top: -110px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;



}

.header nav h3 {
    font-size: 30px;
    font-weight: 800;
    color: cornflowerblue;
}

.btn-signup {
    background-color: cornflowerblue;
    border-style: none;
    padding: 3px 30px;
    margin: 30px;
    font-size: larger;
    font-weight: 700;
    color: white;
    border-radius: 10px;
}

.btn-signup:hover {
    background-color: blue;
    font-size: 21px;

}

.header nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
}

.banner-foccus-section div {
    text-align: center;
    font-size: 30px;
}

.focus-btn {
    background-color: cornflowerblue;
    border-style: none;
    padding: 10px 30px;
    margin: 30px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border-radius: 10px;
}

.focus-btn:hover {
    background-color: blue;
    font-size: 21px;
}

/* action box */
.action-div h3 {
    font-size: 25px;
}

.action-div p {
    word-wrap: break-word;
}

.action-img {
    height: 250px;

    border-radius: 50px;

}

.btn-launch {
    background-color: cornflowerblue;
    border-style: none;
    padding: 10px 30px;
    margin: 30px 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border-radius: 10px;
}

.btn-launch:hover {
    background-color: blue;

}

.action-box-section {
    display: flex;
    justify-content: space-between;
    margin: 0px 110px;
    margin-bottom: 80px;

}

/* join section */
.join-div {
    display: flex;
    gap: 80px;

}

.productive-div {
    text-align: center;
    font-size: 18px;


}

.join-div h1 {
    font-size: 50px;
    color: rgb(50, 73, 115);
}

.join-div p {
    color: rgb(49, 49, 90);
    margin-top: -30px;
}

.join-section {
    display: flex;
    justify-content: center;
    background-color: rgb(212, 214, 238);
    margin: 0px 100px;
    padding-top: 20px;
    border-radius: 20px;
    height: 300px;
    margin-bottom: 80px;
}

/* rating section */
.rating-section {
    margin-bottom: 80px;
}

.rating-div h1 {
    text-align: center;
}

.rating-flex-div {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.designer-div {
    background-color: white;

    width: 330px;
    padding-top: 10px;
    padding-left: 20px;
    border-radius: 20px;

}

.profile-div {
    display: flex;
    gap: 10px;
}

.profile-div img {
    border-radius: 50%;
    height: 50px;
}

.dp-name-div {
    margin-top: -15px;

}

.dp-name-div h3 {
    color: rgba(117, 117, 117, 1);
}

.dp-name-div p {
    margin-top: -15px;
    color: rgb(147, 145, 145);
}

/* focus section */
.focus-section {

    background-color: white;
    display: flex;
    justify-content: center;
    margin: 0px 100px;
    border-radius: 10px;
    margin-bottom: 80px;
}

.focus-div {
    text-align: center;
    padding-bottom: 20px;
}

.focus-div h1 {
    font-size: 40px;
    margin-bottom: -5px;
}

.focus-div p {
    color: rgb(114, 114, 114);
}

.focus-div button {
    margin-top: -5px;
}

.focus-div img {
    width: 100%;

    border-radius: 30px;

    height: 200px;

}

/* Form section */
.form-section {
    display: flex;
    justify-content: center;

    margin: 0px 100px;
    border-radius: 10px;
    margin-bottom: 80px;

}

.form-div {
    display: flex;
    align-items: center;
    gap: 20%;
    margin-top: 40px;
}

.h1-div {
    font-size: 50px;
    margin-right: 20px;
    word-wrap: break-word;

}

form {
    display: flex;
    flex-direction: column;


}

.input {
    border-radius: 4px;
    height: 40px;
    border: none;
    border: 2px solid rgb(190, 218, 249);
    padding-left: 10px;

}

.textarea {
    border-radius: 4px;
    height: 100px;
    border: none;
    border: 2px solid rgb(190, 218, 249);
    padding-top: 10px;
    padding-left: 10px;
}

label {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.focus-btn-1 {
    background-color: cornflowerblue;
    border-style: none;
    padding: 10px 30px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border-radius: 10px;
    width: 100%;
}

.focus-btn-1:hover {
    background-color: blue;
    font-size: 21px;



}

/* Footer */
footer {

    background-color: white;
    height: 380px;
    text-align: center;
    margin: 0px -10px;
    margin-bottom: -10px;




}



footer h1 {
    padding-top: 120px;
    font-size: 80px;
    color: cornflowerblue;

}


footer p {
    margin-top: -50px;

    word-wrap: break-word;
    color: rgb(88, 88, 89);
}


.anchor-div a {
    text-decoration: none;
    gap: 20px;
    color: rgb(127, 126, 126);
    font-weight: 500;
    margin: 0px 20px;
}

.anchor-div a:hover {
    color: blue;
}